
.pagee1 {
  display: flex;
  flex-wrap: wrap; 
  gap:23px;
  margin-bottom: 0px;
  background-color: rgb(244, 234, 234);
}

.home-page {
  flex: 1; 
}

.home-image {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.page2 {
  flex: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
}

.pagepre {
  font-size: 2rem; 
  color: black;
  font-family: "Outfit", serif;
  font-weight: 500;
  font-style: italic;
  text-align: center; 
}

.section1 {
  margin-top: -7px;
  background-color: black;
  padding:1px ; 
}

.exclusive {
  color: #ccc;
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.exclusive:hover {
  color: white;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 30px;
  padding: 20px; 
}

.product-card {
  border: 2px solid rgb(245, 241, 234);
  padding: 10px;
 
  text-align: center;
  border-radius: 9px;
  background-color: rgb(245, 241, 234);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  
}

.product-card:hover {
  transform: scale(0.9);
}

.product-image {
 
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

.product-details {
  margin-top: 10px; 
}

.product-name {
  font-size: 1.2rem; 
}

.product-price {
  font-size: 1rem; 
}



/* Media query  */
@media (max-width: 768px) {
  .pagepre {
      font-size: 1.5rem; 
  }

  .exclusive {
      font-size: 1.2rem; 
  }

  .product-card {
      width: 90%; 
      flex: 1 0 90%; 
  }
  .pagee1{
    flex-direction: column; 
    align-items: center; 
    text-align: center;
  }
  .page2{
    padding: 10px;
  }
}









@media (max-width: 768px) {
  .product-details-page {
    padding: 15px;
    max-width: 95%; 
  }
  

  
}




.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.product-card {
  border: 2px solid rgb(245, 241, 234);
  padding: 10px;
  width: 250px; 
  text-align: center;
  border-radius: 9px;
  background-color: rgb(245, 241, 234);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  
}

.product-card:hover {
  transform: scale(0.9);
}

.product-image {
  max-width: 100%;
  height: auto;
  object-fit: cover; 
  border-radius: 7px;
}


@media (max-width: 768px) {
  .product-card {
    width: 90%; 
  }
  
}