

.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh; 
  /* width: 100%;  */
  padding: 20px;
  background-color: rgb(129, 118, 118);
}

.product-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; 
  max-width: 90%; 
  
  width: 600px; 
  
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(202, 196, 196, 0.2);
  transition: transform 0.3s ease;
}

.product-details-page:hover {
  transform: scale(0.98); 
  
}

.product-details-image {
  max-width: 100%; 
  
  height: auto;
  margin-bottom: 20px; 
  
}

.product-details-content {
  text-align: center;
  font-style: italic;
  width: 100%; 
  
}

.product-details-name {
  font-size: 1.8rem; 
  
  margin-bottom: 10px;
}

.product-details-description {
  font-size: 1.1rem; 
  margin-bottom: 15px;
}

.product-details-price {
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}

.go-back {
  display: inline-block;
  padding: 12px 25px; 
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1rem; 
}


/* Media Queries for Responsiveness */

@media (max-width: 768px) {
  .product-detail-container{
    max-width: 760px;
  }
  .product-details-page {
      padding: 15px;
      /* max-width: 95%;  */
      width: auto;
  }

  .product-details-name {
      font-size: 1.6rem;
  }

  .product-details-description {
      font-size: 1rem;
  }

  .go-back {
      font-size: 1rem;
      padding: 10px 20px;
  }
}

@media (max-width: 500px){
  .product-details-page {
      padding: 10px;
  }

  .product-details-name {
      font-size: 1.4rem;
  }

  .product-details-description {
      font-size: 0.9rem;
  }

  .go-back {
      font-size: 0.9rem;
      padding: 8px 16px;
  }
}



@media (min-width: 992px) {
  .containers {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .containers {
      max-width: 1140px;
  }
}
