
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(66, 54, 54);
    perspective: 1000px; 
    
  }
  
  .students{
    place-items: center;
    color:black;
    font-size: 20px;
    margin-left: 70px;
   
  }
  
  .form-card {
    background-color: rgb(245, 242, 209);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 300px;
     
    transition: transform 0.3s ease; 
    transform: rotateX(0deg) rotateY(0deg); 
  }
  
  
  
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
      background-color: #0056b3;
      border:#0056b3 1px solid;
  }
  
  .error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
    font-style: italic;
  }
  
  h2{
      text-align: center;
      margin-bottom: 20px;
  }